@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/Roboto-BlackItalic-webfont.eot');
    src: url('../fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/RobotoCondensed-Italic-webfont.eot');
    src: url('../fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/Roboto-Italic-webfont.eot');
    src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'bebasbold';
    src: url('../fonts/BebasNeue\ Bold.ttf') format('truetype'),
         url('../fonts/BebasNeue\ Bold.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'bebasbook';
    src: url('../fonts/BebasNeue\ Book.ttf') format('truetype'),
         url('../fonts/BebasNeue\ Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebaslight';
    src: url('../fonts/BebasNeue\ Light.ttf') format('truetype'),
         url('../fonts/BebasNeue\ Light.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BebasNeue\ Regular.ttf') format('truetype'),
         url('../fonts/BebasNeue\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasthin';
    src: url('../fonts/BebasNeue\ Thin.ttf') format('truetype'),
         url('../fonts/BebasNeue\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height : 100%;
}

body{
    margin : 0;
    position : relative;
}

*{
    font-family: 'robotoregular';
}

strong{
    font-family : 'robotostrong'
}

small{
    font-family: 'robotolight';
}

a{
    color : black;
    text-decoration : none;
}

li{
    list-style-type : none;
}

h1{
    color   :   #073842;
}

/** MAIN TITLE **/
.title{
    font-family: 'bebasbook';
}

.title a{
    font-family: 'bebasbook';

}
.title-bold{
    font-family: 'bebasregular';
}

/** HOME PAGE SPECIFIC STYLE **/

.home-content{
    text-align : center;
}

.home-content h1{
    margin-top : 25%; 
    margin-bottom : 5%; 
    font-size: 64px;
}

.home-content h1 img{
    vertical-align: middle
}

.home-form-search{
    margin  : 0 auto;
    padding : 5px;
    width   : 75%;
}

.home-form-search input{
    border: none;
    background-color : white;
    width: 75%;
    font-size : 18px;
    padding : 5px;
    border-bottom : 1px solid #FEE5BD; 
}

.home-form-search input::placeholder{
    color : #FEC871;
}

.home-form-search input:focus{
    border-bottom : 1px solid #0A4E5C;
}

.home-form-search button{
    right       :   5px;
    background : none;
    border : none;
}

.home-footer{
    position : fixed;
    bottom      :   0;
    text-align : center;
    padding-bottom : 2%;
    padding-top : 2%;
    /* border-top : 1px solid #D4D4D4; */
}

.home-footer a{
    text-decoration: none;
    color :#7E725E;
    /* color : #D4D4D4; */
}


/** DEFAULT LAYOUT **/
.head-caption{
   width            :   100%;
   max-height           :   15%;
   text-align       :   center;
   border-bottom : 1px solid #FEE58D ;
   box-shadow: 0px 1px 3px 0px #FEE58D ;
}

.head-caption .container{
    display : inline-block;
    
}

.head-caption h1, .head-caption div{
    display: inline-block;
    margin: 10px 0;
}

.head-caption h1 img{
    vertical-align : middle;
}

.head-caption-actions{
    float: right;
}

.head-caption h1{
    float: left;
}

.content{
    min-height : 80%;
}

.footer-caption{
    position :fixed;
    bottom : 0;
    width   :   100%;
    padding : 2% 0;
    text-align : center;
}
